/* hmi_pages/hmi_main.css */
div[data-testid="stColumn"] {
    display: flex;
    align-items: center;
}

.stButton button {
    padding: 2px 5px !important;
    height: auto !important;
    font-size: 11px !important;
    line-height: 1.2 !important;
}

.stMarkdown p {
    font-size: 13px !important;
    margin-bottom: 0 !important;
}

hr { 
    margin: 5px 0 !important; 
}